body {
  // Colors
  --background-default: #111111;
  --background-medium: #3b3b3b;
  --background-light: #5a5a5a;
  --font-color-default: rgba(255, 255, 255, 0.9);
  //  Borders
  --border: dashed 1px white;
  // Sizes
  --header-height: 4rem;
}

// Transitions
$transition: 0.2s ease-out;
